<div class="row">
	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<p class="panel-title">Your account</p>
			</div>
			<div class="panel-body">
				<p id="notice"><%= notice %></p>
				<p>
				  <strong>Name:</strong>
				  <%= @account.name %>
				</p>
				<p>
				  <strong>Phone:</strong>
				  <%= @account.phone %>
				</p>
				<p>
				  <strong>Email:</strong>
				  <%= @account.user.email %>
				</p>
				<%= link_to 'Edit', edit_account_path(@account), class: 'btn btn-warning btn-sm' %>
			</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-info">
			<div class="panel-heading">
				<p class="panel-title">Your Recipients</p>
			</div>
			<div class="panel-body">
				<%= link_to 'Add a recipient', new_recipient_path, class: 'btn btn-primary' %>
				
				<table class="table">
				  <thead>
				    <tr>
				      <th>Name</th>
				      <th colspan="4"></th>
				    </tr>
				  </thead>

				  <tbody>
				    <% current_user.recipients.each do |recipient| %>
				      <tr>
				        <td><%= link_to recipient.name, recipient %></td>
				        <td><%= link_to 'Add occasion', new_occasion_path(recipient: recipient.id), class: 'btn btn-info btn-xs' %></td>
				        <td>
				        	<% recipient.occasions.each do |occasion| %>
				        		<p><%= occasion.occasion_type %></p>
				        	<% end %>
				        </td>

				        <td><%= link_to 'Edit', edit_recipient_path(recipient) %></td>
				        <td><%= link_to 'Destroy', recipient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
			</div>
		</div>
	</div>
</div>
